
body {
  font-family: comic-sns ;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  color: var(--color-white);
  position: center;
}

#form-main {
  padding-left: 50px;
}

h1 {
  font-weight: 400;
  color: red;
  font-size: 75px;
  line-height: 1.2;
}

p {
  font-size: 1.5rem;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

input, button, select, textarea {
  margin: 1;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  line-height: 1rem;
}

button {
  border: none;
}


.header {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
}

#submit {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: red;
}
